<!-- application.html.erb は HTMLやHEADタグなどの共通レイアウト
     アクション名.html.erb は BODYタグ内の個別レイアウト 
  -->
<!doctype html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- 文字コードを utf-8 に設定 -->
    <meta charset="utf-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <!-- これはビュー内で他のビューファイルを部分的にレンダリングするためのコード -->
    <%= render 'layouts/header' %>
    <!-- HTML の div タグで「container」という大きな箱を作る -->
    <div class="container">
      <!-- ここの yield は URL に基づき表示する -->
      <%= yield %>
    </div>
  </body>
</html>
